*.swp
*.DS_Store
.ropeproject/
data/
tags

=======

# Ignore all files within the uploads/ folder #
###############################################
uploads/

# Ignore all .pyc files from python #
#####################################
*.pyc

# Database files #
######################################
*.bak
*.sql
*.sqlite

# Ignore ini files. We do not want these tracked #
# as they include passwords and configuration    #
# information                                    #
##################################################
*.ini

# Paste server runtime files #
##############################
*.pid
*.log

.eggs/
abstrackr.egg-info/
build/
dist/
eutils/
